<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello Twitter</title>
</head>
<body>
    <h3>
        Hello, <span th:text="${twitterProfile.name}">Some User</span>!
    </h3>

    <h4>These are your friends:</h4>

    <ul>
        <li th:each="friend:${friends}"
            th:text="${friend.name}">Friend</li>
    </ul>

    <h4>These are your preferences:</h4>

    <ul>
        <li th:each="preference:${preferences}">
            <span th:text="${preference.key}">Preference</span>
            <span th:text="${preference.value}">Probability</span>
        </li>
    </ul>
</body>
</html>
