<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:include="fragments/head::head">
    <meta charset="UTF-8">
    <title id="pageTitle">SMAS | Show offer</title>
</head>

<body>

<div th:replace="fragments/head::header"></div>

<section>
    <div class="container" th:object="${offer}">
        <h1>Show offer</h1>
        <div class="row">
            <div class="col-md-12">
                Name: <input th:value="*{name}" th:type="text" th:name="offerName" required="required" disabled="disabled">
            </div>

            <div th:each="category : ${categoryToNotions}" class="col-md-6">
                <h4 th:text="${category.key.name}">Category name</h4>

                <!--<span th:text="${category.value[0].name}"></span>-->
                <span th:each="notion, rowStat : ${category.value}">
                    <input th:name="notions"
                           th:id="${category.value[__${rowStat.index}__].id}" type="checkbox"
                           th:value="${category.value[__${rowStat.index}__].id}"
                           th:checked="${#lists.contains(checkedNotionIds, category.value[__${rowStat.index}__].id)}"
                           disabled="disabled">
                    <label th:text="${category.value[__${rowStat.index}__].name}"
                           th:for="${category.value[__${rowStat.index}__].id}"></label>
                </span>
            </div>
        </div>
    </div>
</section>

</body>
</html>
