c #### Przykładowa oferta
c Lokalizacja: Zakopane
c Rodzaj oferty: Kompleks sportowy
c Sport: narty 1, rower 2, wycieczki górne 3, basen 4
c Jedzenie: pizza
c Parking: brak
c
c #### Przykładowy użytkownik
c Lokalizacja: Kraków
c Ulubione lolizacji: -
c Rodzaj oferty: -
c Sport: narty, szybka jazda samochodem (wyścigi) 5
c Jedzenie: pizza
c
c Pierwsza linia - sport (kategorie mogą być predefiniowane) oferty
c Dalej użytkownik
p cnf 5 3
1 2 3 4 0
c try it
1 0
5 0